

.chip {
    border-radius: 999px;
    padding: 6px 10px;
    background: rgba(255,255,255,0.06);
    border: 1px solid var(--border);
    color: var(--text);
    font-size: 0.9rem;
}

.clicked{
    border-radius: 999px;
    padding: 6px 10px;
    background: rgba(245, 32, 103, 0.5);
    /*background: rgba(0, 0, 0, 0.1);*/
    border: 1px solid var(--border);
    color: var(--text);
    font-size: 0.9rem;

}